/* input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}

input[type="number"]::-webkit-input-placeholder {
    color: #fff;
}

input[type="textarea"]::-webkit-input-placeholder {
    color: #fff;
}

 */
